@model HotelReservationManager.ViewModels.ClientViewModels.ClientsListViewModel

    <div class="container">

        <h1 class="mt-4 mb-3">Clients</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">My Hotel</a>
            </li>
            <li class="breadcrumb-item active">Clients</li>
        </ol>

        @foreach (var client in Model.Clients)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="card-title">@client.FirstName @client.ThirdName</h2>
                            <p>@client.PhoneNumber</p>
                            <p>@client.Email</p>
                            <p>Is Adult: @client.IsAdult</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-primary" asp-controller="Client" asp-action="Edit" asp-route-id="@client.Id">Edit</a>
                    <a class="btn btn-primary" asp-controller="Client" asp-action="Delete" asp-route-id="@client.Id">Delete</a>
                </div>
            </div>
        }


        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>

    </div>