@model HotelReservationManager.ViewModels.ReservationViewModels.EditReservationViewModel

<div class="container">
    <h1 class="mt-4 mb-3">Edit Reservation</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">My Hotel</a>
        </li>
        <li class="breadcrumb-item active">Reservation</li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
    <form class="mx-auto half-width" method="post" asp-controller="Reservation" asp-action="Edit">

        <div class="form-group">
            <label asp-for="AdultsCount">Adults Count</label>
            <input id="adults" asp-for="AdultsCount" class="form-control" value="@Model.AdultsCount">
            <span asp-validation-for="AdultsCount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ChildrensCount">Childrens Count</label>
            <input id="childrens" asp-for="ChildrensCount" class="form-control" value="@Model.ChildrensCount">
            <span asp-validation-for="ChildrensCount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartDate">Start Date</label>
            <input id="startDate" asp-for="StartDate" type="date" class="form-control">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndDate">End Date</label>
            <input id="endDate" asp-for="EndDate" type="date" class="form-control">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <h4 class="text-center">Room Type</h4>
        <div class="row mt-4">
            <div class="col">
                <input type="radio" id="twin" value="Twin" asp-for="RoomType" name="roomType">
                <label>Twin</label>
            </div>
            <div class="col">
                <input type="radio" id="apartment" value="Apartment" asp-for="RoomType" name="roomType">
                <label>Apartment</label>
            </div>
            <div class="col">
                <input type="radio" id="double" value="Double" asp-for="RoomType" name="roomType">
                <label>Double</label>
            </div>
            <div class="col">
                <input type="radio" id="penthhouse" value="Penthhouse" asp-for="RoomType" name="roomType">
                <label>Penthhouse</label>
            </div>
            <div class="col">
                <input type="radio" id="maisonette" value="Maisonette" asp-for="RoomType" name="roomType">
                <label>Maisonette</label>
            </div>
        </div>

        <hr style="height:2px; width:100%; border-width:0; color:black; background-color:black" />

        <div class="form-group">
            <div class="form-switch">
                <input asp-for="Breakfast" class="form-check-input" type="checkbox" role="switch" value="@Model.Breakfast">
                <label asp-for="Breakfast">Breakfast</label>
                <span asp-validation-for="Breakfast" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-switch">
                <input asp-for="AllInclusive" class="form-check-input" type="checkbox" role="switch" value="@Model.AllInclusive">
                <label asp-for="AllInclusive">All Inclusive</label>
                <span asp-validation-for="Breakfast" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Rooms">Rooms:</label>
            <div class="form-group">
                <select id="rooms" name="Rooms">
                    <option id="selected" value="@Model.Room.Id">@Model.Room.Number  @Model.Room.Type</option>
                    @foreach (var room in Model.Rooms)
                    {
                        if (room.Id != Model.Room.Id)
                        {
                            <option value="@room.Id">@room.Number @room.Type</option>
                        }
                    }
                </select>
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price:</label>
            <input asp-for="Price" value="@Model.Price" id="price" class="form-control" readonly="readonly">
        </div>

        <hr style="height:2px; width:100%; border-width:0; color:black; background-color:black" />

        <div class="button-holder mt-2 d-flex w-25 mx-auto justify-content-between">
            <button type="submit" class="btn btn-primary">Back</button>
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>

        <hr style="height:2px; width:100%; border-width:0; color:black; background-color:black" />
    </form>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    var startDt = document.getElementById("startDate");
    var endDt = document.getElementById("endDate");
    var adults = document.getElementById("adults");
    var childrens = document.getElementById("childrens");
    var price = document.getElementById("price");
    var rooms = document.getElementById("rooms");
    var roomTypes = document.getElementsByName("roomType");
    var type = ""
    var room = "";

    const today = new Date()
    startDt.valueAsDate = today;

    const tomorrow = new Date(today)
    tomorrow.setDate(tomorrow.getDate() + 1)
    endDt.valueAsDate = tomorrow;

    function calculatePrice() {
        $.ajax({
            url: "/Reservation/CalculatePrice",
            type: "GET",
            dataType: "json",
            async: true,
            data: {
                adultsCount: adults.value,
                childrensCount: childrens.value,
                roomId: room,
                startDate: startDt.value,
                endDate: endDt.value
            },
            success: function (calcPrice) {
                price.value = calcPrice;
            },
            error: function (response) {
                debugger;
                alert('eror');
            }
        });
    }

    function filtrateRooms() {
        $.ajax({
            url: "/Reservation/FiltrateRooms",
            type: "GET",
            dataType: "json",
            async: true,
            data: {
                startDate: startDt.value,
                endDate: endDt.value,
                adultsCount: adults.value,
                childrensCount: childrens.value,
                roomType: type.value
            },
            success: function (items) {
                items.forEach(item => {
                    var option = document.createElement("option");
                    option.text = item.number;
                    option.value = item.id;
                    rooms.appendChild(option);
                });
            },
            error: function (response) {
                debugger;
                alert('eror');
            }
        });
    }

    function roomsClear() {
        for (var i = rooms.childElementCount; i >= 1; i--) {
            rooms.remove(i);
        }
    }

    adults.addEventListener('input', function () {
        removeUnappropriateRooms();
        filtrateRooms();
        calculatePrice();
    });

    childrens.addEventListener('input', function () {
        removeUnappropriateRooms();
        filtrateRooms();
        calculatePrice();
    });

    startDt.addEventListener('input', function () {
        removeUnappropriateRooms();
        filtrateRooms();
        calculatePrice();
    });

    endDt.addEventListener('input', function () {
        removeUnappropriateRooms();
        filtrateRooms();
        calculatePrice();
    });

    rooms.addEventListener('change', (e) => {
        console.log("room");
        room = e.target.value;
        calculatePrice();
    });

    roomTypes.forEach(roomType => {
        roomType.onclick = function () {
            type = roomType;
            roomsClear();
            filtrateRooms();
        }
    });
</script>

