@model PaginatedList<HotelReservationManager.ViewModels.UserViewModels.UserViewModel>

<div class="container">

    <h1 class="mt-4 mb-3">Active Users</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">My Hotel</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item active">Active</li>
    </ol>

    <form asp-action="ActiveList" method="get">
        <div class="card mb-4">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" name="SearchString" class="form-control" placeholder="Search by some name" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-action="ActiveList" class="btn btn-default" role="button">Back</a>
                </div>
            </div>
        </div>
    </form>

    <div id="active-users">
        @foreach (var activeUser in Model)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="card-title">@activeUser.Username</h2>
                            <p>@activeUser.FirstName @activeUser.SecondName @activeUser.ThirdName</p>
                            <p>@activeUser.UCN</p>
                            <p>@activeUser.PhoneNumber</p>
                            <p>@activeUser.Email</p>
                            <p>@activeUser.StartDate</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-primary" asp-controller="HotelUser" asp-action="EditActiveUser" asp-route-id="@activeUser.Id">Edit</a>
                    <a class="btn btn-primary" asp-controller="HotelUser" asp-action="Block" asp-route-id="@activeUser.Id">Block</a>
                </div>
            </div>
        }
    </div>


    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a asp-action="ActiveList"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link @prevDisabled">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link">@Model.PageIndex</a>
        </li>
        <li class="page-item">
            <a asp-action="ActiveList"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link @nextDisabled">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>